<% provide:title, t("layouts.header.log_in") %>
<div class="title"><%= t("layouts.header.log_in")%></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: t("title.enter_email"), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, t("title.password") %>
        <%= f.password_field :password, placeholder: t("title.enter_pass"), class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit t("layouts.header.log_in"), class: "btn btn-primary" %>
      </div>
    <% end %>
    <p><%= t "form.new_user" %> <%= link_to t("title.sign_up_now"), "#" %></p>
  </div>
</div>