<% provide :title, t(".show_loans") %>
<h1 style="text-align: center;"><%= t ".all_loans" %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t ".member_name" %></th>
      <th scope="col"><%= t ".date_loaned" %></th>
      <th scope="col"><%= t ".date_due" %></th>
      <th scope="col"><%= t ".quantity" %></th>
      <th scope="col"><%= t ".options" %></th>
    </tr>
  </thead>
  <tbody>
    <% LoanedBook.all.each do |loaned_book|%>
    <tr>
      <% get_user_memeber.each do |member| %>
      <th scope="row"><%= member.id %></th>
      <td><%= member.name %></td>
      <% end %>
      <td><%= loaned_book.date_loaned %></td>
      <td><%= loaned_book.date_due %></td>
      <td><%= loaned_book.quantity %></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary"><%= t ".delele" %></button>
          <button type="button" class="btn btn-secondary"><%= t ".accept" %></button>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
