<div class="row item">
  <div class="col-md-4">
    <div class="intended__images">
      <div class="intended__checkbox">
        <label class="style__StyledCheckbox">
          <input type="checkbox" />
          <span class="checkbox-fake"></span>
        </label>
      </div>
      <a class="intended__img" href="#">
        <%= image_tag asset_path("thumbnail.jpg") %>
      </a>
      <div class="intended__content">
        <%= link_to item.first.book_title, book_path(item.first), class: "intended__name"  %>
        <span class="intended__category">
          <%= t ".category" %>
          <%= link_to item.first.category.category_name, "#" %>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <span class="intended__due-date">
      <%= render_time_date_due %>
    </span>
  </div>
  <div class="col-md-2">
    <div class="intended-qty">
      <div class="style__StyledIntendedQty ct-quant">
        <span class="glyphicon-minus qty-decrease" aria-hidden="true"></span>
        </span>
        <input
          class="qty-input"
          type="tel"
          name="quant"
          disabled
          value="<%= item.second %>"
        />
        <span class="glyphicon-plus qty-increase" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <a rel="nofollow" data-method="delete" href="carts/<%= item.first.id %>">
      <span class="glyphicon glyphicon-trash productsV2__remove-all"></span>
    </a>
  </div>
</div>
