<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="__next">
      <div>
        <%= render "layouts/header" %>
        <main class="flex flex-row pl-70 pt-14">
          <%= render "layouts/sidebar" %>
          <div class="container">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
    <% if logged_in? %>
      <%= render "layouts/modal_user" %>
    <% end %>
  </body>
</html>
